body {
    font-family: 'Montserrat', sans-serif;
    color: #4f5a65;
    background: #f3f5f7;
}



h2 {
    padding-left: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}
